<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <% include templates/fragment-header.ejs %>
    <p><%= text %></p>
    <p>A not existing page attribute: <%= not_existing_text %></p>
    <% include templates/fragment-footer.html %>
  </body>
</html>
