<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <% include('fragment-header.ejs') %>
    <% include('fragment-content-not-existing.ejs') %>
    <p><%= text %></p>
    <% include('fragment-footer.html') %>
  </body>
</html>
